@charset "UTF-8";
/* CSS Document */

*{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

.gallery{
	margin: 10 px 50 px;
}

.gallery img{
	transition: 1s;
	padding: 15px;
	width: 200px;
	filter: grayscale(100%);
}

.gallery img:hover{
	filter: grayscale(0%);
	transform: scale(1.1);
}