@charset "UTF-8";
*{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

/* General Stylesheet Code */

.body{
	z-index: 1;
}

ul{
	z-index: 2;
}

/* IMG and VID Gallery Menu */

.container{
	width: 1000px;
	height: 400px;
	background: #ccc;
	margin: 120px auto;
	display: flex;
}

.col{
	height: 100%;
	flex:1;
	color:#fff;
	box-sizing: border-box;
	padding: 25px;
	position: relative;
	transition: 0.6s;
}

.col:nth-child(1){
	background:linear-gradient(red,#830D0F);
}

.col:nth-child(2){
	background:linear-gradient(#372CBF,blue); 
}

.col:nth-child(3){
	background:linear-gradient(#fcd02c,red);
}

.col:nth-child(4){
	background:linear-gradient(green,teal);
}

h2{
	text-align: center;
	font-size: 22px;
	font-weight: 600;
	
}

.caption{
	max-width: 230px;
	font-size: 12px;
	margin: 28px 0;
	display: none;
}

.caption button{
	border: 1px solid #fff;
	background: transparent;
	outline: none;
	padding: 8px 18px;
	color: #fff;
	border-radius: 30px;
	margin-top: 20px;
	cursor: pointer;
	font-size: 12px;
}

.col img{
	width: 200px;
	position: absolute;
	right: 0;
	bottom: 0;
}

.col:hover{
	flex-grow: 2.5;
}

.col:hover .caption{
	display: block;
}

/* Footer */

footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}

/* Nav Bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/* Parallax */

.banner {
	background-color: #2D9AB7;
	background-image: url(https://lh3.googleusercontent.com/fife/AAWUweWLqdwpseirVPUYBgfqYTXKVeKDG21ZXuIMhkQgyf7bGYLZjBwi4tqn63uY1vnHJihxDYpC9IEAGoV5_zUwbgcybSGyVq3XChdeDTPT7bH7FwNTJrsVPpvlke3mV4VS7dM9WGEZ-ozV-xfDC7WPeZSVj94mSablvFzJhZTjUH29o2Al6ntilVQ900rjxU1eOu7roUUG3TgAoaN_YjJQi73e3WWKyELPJfsFronHPAP-77cUGzvbFP4d8xJ3D0cLRt-Fxx87nc3yo8vJoZpRb2Zp4GXVUYd9Af3WpaDCnTPjha3qgmxT4Dxpzao4gI_nzwk2r5Kpnxcdl-l4n1rA91o5yHOXtAkeuRnn2PMmYgdd92u19lO2mmJcG9WH7AdSzx-LgLuHWopjh1UOwLoFpRrY3eZf4gii2ZYaOtnBnWpPbJBI5AozrtgyRPp1z3ZoyqXizfiueDi16sQ8xfyCa6Vv_g-fGahv1SOMtwOGI4waVevslGaYGcfzV5s3cgVU62ouJFclyihrpQPVQMbcm-I-3r9N9dH0AuRwUEwdpEAvVJgiN6VBN1X9Iq-LsgYDvKjold0L63DymutrBIvO2d804rMoIMxlYm5N3-yM2QVEGfsIAJEEAr-LWQwbKmo88yseD0gof_VNfTSq_4vV1uQFl_nEVDWoBh6E1Ph7873toFxWYduXN99DMcgtIbWfaQUylMTdfG5liMpx1aQR3YBLwWJCF8RXrPiAIOnNK_lRkGCIlngb9-xGWxxMCJ7CRhtcrHE=w1918-h1438-no?authuser=0);
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.parallax {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.banner_b {
	background-color: #2D9AB7;
	background-image: url(https://lh3.googleusercontent.com/fife/AAWUweWLqdwpseirVPUYBgfqYTXKVeKDG21ZXuIMhkQgyf7bGYLZjBwi4tqn63uY1vnHJihxDYpC9IEAGoV5_zUwbgcybSGyVq3XChdeDTPT7bH7FwNTJrsVPpvlke3mV4VS7dM9WGEZ-ozV-xfDC7WPeZSVj94mSablvFzJhZTjUH29o2Al6ntilVQ900rjxU1eOu7roUUG3TgAoaN_YjJQi73e3WWKyELPJfsFronHPAP-77cUGzvbFP4d8xJ3D0cLRt-Fxx87nc3yo8vJoZpRb2Zp4GXVUYd9Af3WpaDCnTPjha3qgmxT4Dxpzao4gI_nzwk2r5Kpnxcdl-l4n1rA91o5yHOXtAkeuRnn2PMmYgdd92u19lO2mmJcG9WH7AdSzx-LgLuHWopjh1UOwLoFpRrY3eZf4gii2ZYaOtnBnWpPbJBI5AozrtgyRPp1z3ZoyqXizfiueDi16sQ8xfyCa6Vv_g-fGahv1SOMtwOGI4waVevslGaYGcfzV5s3cgVU62ouJFclyihrpQPVQMbcm-I-3r9N9dH0AuRwUEwdpEAvVJgiN6VBN1X9Iq-LsgYDvKjold0L63DymutrBIvO2d804rMoIMxlYm5N3-yM2QVEGfsIAJEEAr-LWQwbKmo88yseD0gof_VNfTSq_4vV1uQFl_nEVDWoBh6E1Ph7873toFxWYduXN99DMcgtIbWfaQUylMTdfG5liMpx1aQR3YBLwWJCF8RXrPiAIOnNK_lRkGCIlngb9-xGWxxMCJ7CRhtcrHE=w1918-h1438-no?authuser=0);
	height: 300px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.parallax_b {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description_b {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}