@charset "UTF-8";
*{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

/* General Stylesheet Code */

.body{
	z-index: 1;
}

ul{
	z-index: 2;
}

/* IMG and VID Gallery Menu */

.container{
	width: 1000px;
	height: 400px;
	background: #ccc;
	margin: 120px auto;
	display: flex;
}

.col{
	height: 100%;
	flex:1;
	color:#fff;
	box-sizing: border-box;
	padding: 25px;
	position: relative;
	transition: 0.6s;
}

.col:nth-child(1){
	background:linear-gradient(red,#830D0F);
}

.col:nth-child(2){
	background:linear-gradient(#372CBF,blue); 
}

.col:nth-child(3){
	background:linear-gradient(#fcd02c,red);
}

.col:nth-child(4){
	background:linear-gradient(green,teal);
}

h2{
	text-align: center;
	font-size: 22px;
	font-weight: 600;
	
}

.caption{
	max-width: 230px;
	font-size: 12px;
	margin: 28px 0;
	display: none;
}

.caption button{
	border: 1px solid #fff;
	background: transparent;
	outline: none;
	padding: 8px 18px;
	color: #fff;
	border-radius: 30px;
	margin-top: 20px;
	cursor: pointer;
	font-size: 12px;
}

.col img{
	width: 200px;
	position: absolute;
	right: 0;
	bottom: 0;
}

.col:hover{
	flex-grow: 2.5;
}

.col:hover .caption{
	display: block;
}

/* Footer */

footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}

/* Nav Bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/* Parallax */
.banner {
	background-color: #2D9AB7;
	background-image: url(https://lh3.googleusercontent.com/fife/AAWUweUJQB3IAXQHXAaTOeBTVvCFVoUbrPc10i6PUHc2up4gw9MzLzGYZ-7k-NaAIeCuIkLK7nVwPlIFkf2d_c3NAzpI6KkTfn-ec8be0A_VNCW6msMWj_YaaDf-UvW2nDYa4RL1T8O-Boyuvak5v7d_UN0-yL-OiK7Tikv6bGOgR49A9IueX9JgFfcnJ9NU4q21DSJcTI9b5HCnT2Cs0Si8G1eKG8pTQbE1eID2bOcGcTjQFP6qb27Q6icThUL2XYUENImmoWl1p-TzVBBUiZ8XfLVBLAdShfV9wAF0TZUOZ5QwKhXjW5rVjwVbTJkfNlnYyRs-O3lIK4dT0Hd_RcRc9PM1io5-8e8oa7oz-u7vuge7XvDe2GsnYqPj1vBtaofrfeV91Kz4iukROcRReo5Jo1G2xdPUflfaZcpVxNWsKkHxmyONGHk80-k0ISStrCPzZuPfCMUeoBwgnRjkKbKdxqSB8k9CIcPji0KJ-vVA8kmG5-jLJ0BTSQYSxgYij7WMzOcL_VyQagbeiAFnia2UzcIiG_ga_yNnzKamg5Sv6WAm1Li8zHh69DjcIRfNOg7woPi7dTYV_HSLwsvjJOn_mzsXj7jzFYdhhoUbbRTsCAocKZyMJfZdzJ6y5AY4da6EDYQMT5bXXp4_QVBHncygff6I0HP5WXFEY3OodbWn6j4v9cZd68ey9IM2uJAQuI8vrJ_A9_yDWevIzRn2fe03l2oDisvHr9_IFB5BzuPfUsl7DPn2WiEFA0FfxvBOhNH54v16yZUusZYWMxDQyaJgEEmx_2aChvIkRPz-qwl66NU_7dYIKhir8auL1qW6DRWtlm-SEdni8MRQbeeHwo7xFJYh7SunGeu6BpWUtQpnHuvLpe9W=w866-h649-no?authuser=1);
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.parallax {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.banner_b {
	background-color: #2D9AB7;
	background-image: url(https://lh3.googleusercontent.com/fife/AAWUweUJQB3IAXQHXAaTOeBTVvCFVoUbrPc10i6PUHc2up4gw9MzLzGYZ-7k-NaAIeCuIkLK7nVwPlIFkf2d_c3NAzpI6KkTfn-ec8be0A_VNCW6msMWj_YaaDf-UvW2nDYa4RL1T8O-Boyuvak5v7d_UN0-yL-OiK7Tikv6bGOgR49A9IueX9JgFfcnJ9NU4q21DSJcTI9b5HCnT2Cs0Si8G1eKG8pTQbE1eID2bOcGcTjQFP6qb27Q6icThUL2XYUENImmoWl1p-TzVBBUiZ8XfLVBLAdShfV9wAF0TZUOZ5QwKhXjW5rVjwVbTJkfNlnYyRs-O3lIK4dT0Hd_RcRc9PM1io5-8e8oa7oz-u7vuge7XvDe2GsnYqPj1vBtaofrfeV91Kz4iukROcRReo5Jo1G2xdPUflfaZcpVxNWsKkHxmyONGHk80-k0ISStrCPzZuPfCMUeoBwgnRjkKbKdxqSB8k9CIcPji0KJ-vVA8kmG5-jLJ0BTSQYSxgYij7WMzOcL_VyQagbeiAFnia2UzcIiG_ga_yNnzKamg5Sv6WAm1Li8zHh69DjcIRfNOg7woPi7dTYV_HSLwsvjJOn_mzsXj7jzFYdhhoUbbRTsCAocKZyMJfZdzJ6y5AY4da6EDYQMT5bXXp4_QVBHncygff6I0HP5WXFEY3OodbWn6j4v9cZd68ey9IM2uJAQuI8vrJ_A9_yDWevIzRn2fe03l2oDisvHr9_IFB5BzuPfUsl7DPn2WiEFA0FfxvBOhNH54v16yZUusZYWMxDQyaJgEEmx_2aChvIkRPz-qwl66NU_7dYIKhir8auL1qW6DRWtlm-SEdni8MRQbeeHwo7xFJYh7SunGeu6BpWUtQpnHuvLpe9W=w866-h649-no?authuser=1);
	height: 300px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.parallax_b {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description_b {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
